extends layout

block content
    script(src="js/create_session.js")
    -data = data || {}
    if errors
        ul.my-errors
        for error in errors
            li= error.msg
    form(action="/create_session_test" method="POST" class="session-create" enctype="multipart/form-data")
        label(for="name") Session Name:
        input(
        type="text"
        id="name"
        name="name"
        class="form-control"
        value=data.name
        )
        input(
        type="file"
        accept=".mp3" 
        id="file" 
        name="file"
        class="form-control"
        multiple size="8" 
        onchange="upload_file()"
        value=data.file
        )
        input(
        type="submit"
        value="Submit"
        class="btn btn-lg btn-primary btn-block"
        )
    p(id="file_p")
